@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/*---------global------*/
.container {
  max-width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

i {
  cursor: pointer;
  transition: 0.5s;
}

/*---------global------*/
/*---------header------*/
.about {
  height: 800vh;
}

.header {
  position: relative;
}

.header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.logo img {
  width: 250px;
  margin-top: 25px;
}

header .navbar {
  align-items: center;
  transition: 0.5s;
}

header nav ul {
  display: inline-block;
  font-size: 16px;
}

header nav ul li a {
  color: white;
  transition: all 300ms ease-in-out;
}

header nav ul li {
  margin-right: 40px;
  display: inline-block;
}

header .navbar span {
  text-align: center;
  margin-left: 20px;
  color: white;
  font-size: 25px;
  display: none;
}

#palybtn {
  background: #E50916;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}

button {
  background: none;
  border: none;
  outline: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 12px 30px;
  cursor: pointer;
}

header.sticky {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  transition: 0.5s;
  height: 10vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

header.sticky button {
  color: #0213B3;
  border: 2px solid #0213B3;
}

header.sticky li a {
  color:#0213B3;
}

@media only screen and (max-width:768px) {
  header nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100;
    border-radius: 20px;
    box-shadow: 0 20px 51px 9px rgb(0 0 0 / 8%);
  }

 .header  ul li {
    display: block;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header nav ul li a {
    color: black;
  }

  .header .navbar span {
    color: rgb(173, 18, 18);
    display: block;
    cursor: pointer;
  }

  .header button {
    display: none;
  }

  header.sticky .navbar span {
    color: black;
  }
}

/*----------home---------*/
.btn1 {
  background: #0213B3;
  padding: 18px 50px
}

.btn2 {
  color: grey;
  margin-left: 20px
}

.left, .right {
  width: 50%;
}

.home .left {
  margin-top: 12%;
}

.home h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
}

.home p {
  margin: 40px 0 40px 0;
  font-size: 20px;
  opacity: 0.5;
}

.home .right img {
  margin-left: 250px;
  margin-top: 50px;
  width: 50%;
  height: 100%;
}

/*----------home---------*/
/*----------Overview---------*/
.top {
  margin-top: 100px;
}

.mtop {
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.overview {
  text-align: center;
  background-size: contain;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.overview .container {
  background: white;
  box-shadow: 0 20px 51px 9px rgb(0 0 0 / 8%);
  border-radius: 5px;
  padding: 100px;
}

.heading h1 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.heading p {
  margin: 20px 0 20px 0;
  text-align: center;
}

p {
  opacity: 0.5;
  font-weight: 400;
}

.overview .content .img {
  position: relative;
}

.overview .content i {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  font-size: 50px;
  color: white;
}

.overview h3 {
  font-weight: 300;
  margin: 20px 0 20px 0;
}

/*----------Overview---------*/
/*----------Functionalities---------*/
.function {
  text-align: center;
}

.function .left {
  text-align: left;
  padding: 15% 5% 0 0;
}

.function i {
  font-size: 50px;
  color: #E50916;
}

.function h3 {
  font-weight: 400;
  font-size: 22px;
  margin: 20px 0 20px 0;
}

.function p {
  margin-bottom: 20px;
  line-height: 30px;
}

.function a {
  text-decoration: underline;
  color: #0213B3;
}

.function .right {
  position: relative;
}

.function img {
  margin-top: 50px;
  width: 50%;
  border-radius: 30px;
  box-shadow: 0 20px 51px 9px rgb(0 0 0 / 8%);
}

.function .content .right::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../images/f2.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  z-index: -1;
}

.function .fun_content .flex:nth-child(2) {
  flex-direction: row-reverse;
}

.fun_content .content:nth-child(2) .right::after {
  background-image: url("../images/f4.png");
}

.fun_content .content:nth-child(3) .right::after {
  background-image: url("../images/f6.png");
}

/*----------Functionalities---------*/
/*----------Features---------*/
.features .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.features {
  background: #F8F8FF;
  padding: 50px 0 50px 0;
}

.features .img {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #0213B3;
  border-radius: 50%;
  font-size: 25px;
  color: white;
}

.features .box:nth-child(2) .img {
  background: #FFCC00;
}

.features .box:nth-child(3) .img {
  background: #DB0A40;
}

.features .box:nth-child(4) .img {
  background: #001D46;
}

.features h3 {
  font-weight: 400;
  margin: 20px 0 20px 0;
}

.features .right {
  position: relative;
}

.features .right .image {
  background-image: url("../images/fe1.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: -20%;
}

/*----------Features---------*/

/*----------footer---------*/
@media only screen and (max-width:768px) {
  .left, .right {
    width: 100%;
  }

  .home .flex1 {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  
  .grid {
    grid-template-columns: repeat(1, 1fr)
  }

  .function {
    margin-top: 50%;
  }

  .download img {
    margin-top: 30px;
  }

  footer .grid,
  .team .grid {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media only screen and (max-width:412px) {
  .function {
    margin-top: 220%;
  }

  .dowload img,
  .Features img,
  .function img {
    width: 100%;
    height: 100%;
  }

  .dowload .flex {
    flex-direction: column;
  }

  .dowload .box.flex {
    flex-direction: row;
    margin-bottom: 20px;
  }

  .Features {
    text-align: center;
  }

  .Features .img {
    margin: auto;
  }

  .Features .grid,
  footer .grid {
    grid-template-columns: repeat(1, 1fr)
  }
}